@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

main {
  height: 100vh;
  background-color: rgb(213 225 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 320px;
  height: 497px;
  background-color: White;
  border-radius: 20px;
  padding: 16px;
}

.image-wrapper {
  position: relative;
  width: 288px;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
}
.qr {
  position: absolute;
  width: 160px;
  height: 160px;
}

div.text {
  width: 288px;
  text-align: center;
  h2 {
    font-weight: 700;
    color: rgba(31, 49, 79, 1);
    margin-top: 24px;
    margin-bottom: 16px;
  }

  p {
    font-weight: 400;
    color: rgba(125, 136, 158, 1);
  }
}
